<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AddgoodsMapper">
    <select id="getAllGoods" resultType="com.example.demo.untity.Goods">
        SELECT goodsphoto,goodsid, goodsname, price, label, state,is_on_shelf,is_new,is_recommended FROM goods
    </select>

    <!-- 新增商品的 SQL -->
    <insert id="insertGoods" parameterType="com.example.demo.untity.Goods" useGeneratedKeys="true" keyProperty="goodsid">
        INSERT INTO goods (goodsphoto,goodsname, price, label, state, is_on_shelf, is_new, is_recommended)
        VALUES (#{goodsphoto},#{goodsname}, #{price}, #{label}, #{state}, #{isOnShelf}, #{isNew}, #{isRecommended})
    </insert>
</mapper>